<div class="comments">
   
       {% assign comments = site.data.comments[page.slug] | sort %}
  {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
    <article class="comment" id="{{ commentData._id }}">
      <h4 class="comment-name"><a href="{{ commentData.url }}">{{ commentData.name }}</a> commented <span class="comment-time">{{ commentData.date | date: "%b %d, %Y %H:%M:%S" }}</span> <a href="#{{ commentData._id }}">#</a></h4>

      <div class="comment-msg">
        {{ commentData.message | markdownify }}
      </div>
    </article>
  {% endfor %}

</div>



