<div class="comments">
   
    
  <h3>Comments</h3>
       {% assign comments = site.data.comments[page.slug] %}
  {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
    <article class="comment">
      <h4 class="comment-name">{{ commentData.name }} commented <span class="comment-time">{{ commentData.date | date: "%b %d, %Y %H:%M:%S" }}</span></h4>

      <div class="comment-msg">
        {{ commentData.message | markdownify }}
      </div>
    </article>
  {% endfor %}

</div>



