<div class="comments">
   
    
  <h3>Comments</h3>
       {% assign comments = site.data.comments [page.path] | sort %}
  {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
    <article class="comment">
      <h4 class="comment-name">{{ commentData.name }} <small class="comment-time">({{ commentData.date | date: "%b %d, %Y %H:%M:%S" }})</small></h4>

      <div class="comment-msg">
        {{ commentData.message | markdownify }}
      </div>
    </article>
  {% endfor %}

</div>



