---
layout: default
---

<div class="h-entry">
  <h5 class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</h5>
    
 <p class="p-content"> {{ content }}
 </p>
 
  {% if page.image %}
      <div class="post-image">
        <a href="{{ page.url | relative_url }}" style="
    text-decoration: none;
">
          <img src="{{ page.image | relative_url }}" alt="{{ page.alt }}">
          
        </a>
       </div>  
      {% endif %}  
 
</div>


{% if page.collection %}
  {% assign posts = site[page.collection] | where:"layout", "post" | sort: 'date' %}

  {% if posts.size > 1 %}
    {% assign prevurl = posts.last.url %}
    {% assign nexturl = posts.first.url %}
  {% endif %}

  {% for links in posts %}
    {% if links.title == page.title %}
      {% unless forloop.first %}
        {% assign prevurl = prev.url %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = posts[forloop.index] %}
        {% assign nexturl = next.url %}
      {% endunless %}
    {% endif %}
    {% assign prev = links %}
  {% endfor %}

  <p>
      {% if posts.size > 1 %}
        {% if prevurl %}<a href="{{prevurl}}" class="prev">PREV</a>{% endif %}
        {% if nexturl %}<a href="{{nexturl}}" class="nxt">NEXT</a>{% endif %}
      {% endif %}
  </p>
{% endif %}



