---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header"> {% include tags.html %}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
    
     {% if page.image %}
      <div class="post-image">
        <a href="{{ page.url | relative_url }}" style="
    text-decoration: none;
">
          <img src="{{ page.image | relative_url }}" alt="{{ page.alt }}">
          
        </a>
       </div>  
      {% endif %}  
  
  {% if page.caption %}
      <div class="small">{{ page.caption }}</div> 
      {% endif %}  
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
        
  </div>
  
  

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
	
	<hr>
	<div class="comment-notice post-content"><h4>Want to leave a comment?</h4><p>I have decided to remove the comments from this blog (<a href="/removing-comments">here's why</a>). If you want to give me some feedback on this post, please <a target="blank" href="/contact"> contact me</a>. Webmentions from <a href="/implementing-the-indieweb-into-my-website/">the IndieWeb</a> are displayed below.</p></div>
	
	</article>

{% include comments.html %}

<form method="POST" action="{{ site.staticman.api }}">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}/{{ page.permalink }}">
  <input name="options[slug]" type="hidden" value="{{ page.permalink }}">
	<div class="textfield">
		<input name="fields[name]" placeholder="Your name*" type="text"></div>
  <div class="textfield"><input name="fields[email]" placeholder="Your email*" type="email"></div>
<div class="textfield"><input name="fields[url]" pattern="https?://.+" placeholder="https://example.com" type="url"></div>
<div class="textfield"><textarea name="fields[message]" placeholder="You can use Markdown syntax to format your comment. You can also upload images in markdown!*" rows="12" cols="36"></textarea></div>
  <input class="btn" type="submit" value="Comment">
</form>



<div class="related post-content">
  <h4>Recent Posts</h4>
  <ul class="post-list">
    {% for post in site.related_posts limit:5 %}
      <li>
   
          <a href="{{ post.url }}">
            {{ post.title }}</a>
          </li>
       
    {% endfor %}
  </ul>
</div>

